body>form#layout{
    /*width:1040px;*/
    /*border:solid 1px pink;*/
    margin:0px auto;
    width: 100%;
}
article {
    display: table-row;
    width: 100%;
} 
aside#right, section{
   display:table-cell;
    vertical-align:top;
    
}
aside#right{
    vertical-align:top;
     width:230px;
     float:right;
}
#right.treeview{
    width:230px;
    float:right;
}
section{
    width:11000px;
   /* margin-left:100px;*/
}
body{   
    background: -webkit-linear-gradient(#FF1493,White,While,White,White,white);
    background: -o-linear-gradient(#FF1493,White,White,White,White,white);
    background: -moz-linear-gradient(#FF1493,White,White,White,White,white);
    background: linear-gradient(#FF1493,White,White,White,White,white);
    background-repeat:no-repeat;
}
#layout{
    background-color:white;
}